.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
        
        @media screen and (max-width: 800px) {
            width: 100%;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        
        @media screen and (max-width: 800px) {
            display: table-row;
            width: 100%;
            box-sizing: content-box;
        }
    }

    @media screen and (max-width: 800px) {
        width: 80%;
    }
    
}